asgiref
attrs
boto3
botocore
captcha
certifi

charset-normalizer
click
cryptography
decorator
dj-database-url
Django
django-filter
django-heroku
django-libsass
django-rest-knox
djangorestframework
djangorestframework-jwt
dynaconf
filesig
gql
gunicorn
hvac
idna
importlib-metadata
Jinja2
jmespath
jsonschema
loguru
Markdown
MarkupSafe
Pillow
promise
psycopg2
pycparser
PyJWT
pyrsistent
python-dateutil
pytz
rcssmin
requests
rjsmin
Rx
s3transfer
six
sqlparse
urllib3
validators
whitenoise
zipp
